/* stylesheet */

body{
    display: flex;
    flex-direction: column;
    padding: 0px 64px;
    margin: 0px;
    min-height: 100vh;

}
.header{
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    gap: 12px;
    padding: 0;
}


.content{
    display: flex;
    
}

.content-image{
    width: 400px;
    height: 200px;
}


.images{
    display: flex;
}

.whiskey{
    width: auto;
    height: 150px;
}


.quote{
    display: flex;
    flex-direction: column;
}

.footer{
    display: flex;
    align-items: center;
    margin-top: auto;
}

