/* stylesheet */

body{
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    margin: 0px;
    min-height: 100vh;
    flex: 1 1 0;
}
.header{
    display: flex;
    justify-content: space-between;
    background: #1f2937;
    color: #f9faf8;
    padding: 0px 96px;
    font-size: 24px;
    margin: 0;
    align-items: center;
}

.links{
    display: flex;
    gap: 12px;
    padding: 0;
    font-size: 18px;
    color: #e5e7eb;
}

.content{
    display: flex;
    background: #1f2937;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
    padding: 0px 96px 64px 96px;
    font-size: 18px;
    color: #e5e7eb; 
    flex: 1;   
    justify-content: space-between;
    h3{
        font-size: 48px;
        font-weight: bolder;
        color: #f9faf8;
        margin-bottom: 0%;
    }
    .content-image{
        max-height: 300px;
        max-width: auto;
    }
}

h4{
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images{
    display: flex;
    padding: 0px 96px;
    text-align: center;
    justify-content: center;
}

.whiskey{
    width: auto;
    height: 150px;
}


.quote{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    padding: 64px 144px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937 ;
    .author{
        font-size: small;
        display: flex;
        flex: 1 1 0;
        justify-content: end ;
    }
    p{
        margin: 0;
    }
}

.call-to-action{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 0;
    background-color: #3882f6;
    margin: 72px 96px;
    border-radius: 10px;
    color: #f9faf8;
    padding: 36px 0px ;
    h5{
        font-size: medium;
        margin: 0;
    }
    p{
        margin: 0;
    }
}

button{
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
    border-color: #f9faf8;
    padding: 6px 24px;
    border-style: solid;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    background-color: #1f2937;
    color: #f9faf8;
    
    
}

